@import "fonts.css";

html {
  font-family: "Lato-Regular", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

:root {
  --font-alethia: "AlethiaPro-Regular";
  --font-latoR: "Lato-Regular";
  --font-latoL: "Lato-Light";
  --font-latoM: "Lato-Medium";
}

.container {
  max-width: 1330px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/* MAIN START */
/* FIRST SECTION START*/
.first-section {
  background-image: url(../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 810px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 70px;
}

.fs-content {
  background: rgba(7, 28, 53, 0.5);
  backdrop-filter: blur(7.5px);
  width: 382px;
  height: 431px;
  padding: 30px 30px 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.fs-img::after {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background: #ffffff;
}

.fs-img img {
  padding-bottom: 30px;
}

.fs-content h2,
.fs-detail {
  font-family: var(--font-alethia);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
}

.fs-details {
  display: flex;
  justify-content: space-between;
}

.fs-detail {
  font-size: 20px;
}

.fs-detail p {
  font-family: var(--font-latoR);
  font-size: 16px;
  line-height: 19px;
  color: #c4c4c4;
  text-transform: lowercase;
}

.fs-content a {
  font-family: var(--font-latoM);
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.fs-content a > img {
  padding-left: 5px;
}

/* FIRST SECTION END */

/* PROPERTIES SECTION START*/
.properties-section {
  padding-top: 136px;
}

.properties-section .container {
  display: flex;
  gap: 62px;
}

.ps-wrapper {
  position: relative;
}

.ps-wrapper::after {
  content: url(../img/svg-icons/layer-emaar.svg);
  position: absolute;
  left: -4px;
  top: -20px;
  filter: opacity(0.5);
}

.ps-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ps-content h1 {
  font-family: var(--font-alethia);
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 120%;
  text-transform: uppercase;
  color: #071c35;
  margin-bottom: 30px;
}

.ps-content p {
  font-family: var(--font-latoL);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  margin-bottom: 50px;
}

.ps-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.ps-detail {
  font-family: var(--font-alethia);
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 40px;
  color: #071c35;
}

.ps-detail span {
  font-family: var(--font-latoL);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #777777;
}

.btn {
  background: #071c35;
  font-family: var(--font-latoR);
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.ps-content button {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* PROPERTIES SECTION END */

/* TOP PROJECTS SECTION START */

.top-projects {
  padding: 169px 0 109px;
}

.tp__title {
  font-family: var(--font-alethia);
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #071c35;
  margin-bottom: 52px;
}

.tp-cards {
  display: flex;
  justify-content: space-between;
}

.tp-card {
  padding: 15px;
  border: 1px solid rgba(7, 28, 53, 0.1);
  position: relative;
}

.tp-detail {
  padding: 22px 15px;
  position: absolute;
  bottom: 3%;
  left: 3%;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(7.5px);
  width: 94%;
}

.tp-detail h4 {
  font-family: var(--font-alethia);
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
  color: #071c35;
  margin-bottom: 7px;
}

.tp-detail p {
  font-family: var(--font-latoR);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #071c35;
}

/* TOP PROJECTS SECTION END */

/* MAP LOCATION SECTION START */

.map-location {
  padding-bottom: 36px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.map-location__img {
  width: 100%;
}

.ml-content {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.ml-content h2 {
  font-family: var(--font-alethia);
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 120%;
  text-transform: uppercase;
  color: #071c35;
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-90%, -60%);
}

.ml-form label:nth-of-type(1) {
  position: absolute;
  bottom: 19.5%;
  left: 35%;
  transform: translate(-60%, 40%);
}

.ml-form label.position:nth-of-type(1) {
  bottom: 25.5%;
}

.ml-form label:nth-of-type(2) {
  position: absolute;
  top: 35%;
  left: 46%;
  transform: translate(-60%, 40%);
}

.ml-form label.position:nth-of-type(2) {
  top: 16%;
}

.ml-form label:nth-of-type(3) {
  position: absolute;
  top: -6%;
  left: 55%;
  transform: translate(-50%, 60%);
}

.ml-form label.position:nth-of-type(3) {
  top: 16%;
}

.ml-card {
  display: none;
}

.ml-form label {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  font-family: var(--font-latoM);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #071c35;
}

.ml-form input:checked ~ .ml-card {
  display: flex;
  flex-direction: column;
}

.ml-card span {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.03);
}

.ml-card img {
  width: 200px;
  height: 120px;
}

.ml-form input:checked ~ p {
  display: none;
}

.ml-form input[type="radio"]:checked {
  margin-top: -24px;
}

.ml-form input[type="radio"] {
  align-self: center;
  margin-top: 10px;
  appearance: none;
  font: inherit;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 5px solid #071c35;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ml-form input[type="radio"]::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #071c35;
}

.ml-form input[type="radio"]:checked::before {
  transform: scale(1);
}

/* MAP LOCATION SECTION END */

/* COMUNITY SECTION START */

.comunity-section {
  padding-bottom: 186px;
}

.comunity-section .container {
  display: flex;
  gap: 20px;
}

.cs-menu {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.03);
  width: 500px;
  height: 358px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cs-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cs-form h2 {
  font-family: var(--font-latoM);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #071c35;
}

.cs-form span {
  display: flex;
  align-items: center;
}

.cs-form label {
  font-family: var(--font-latoM);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #777777;
  padding-left: 10px;
}

.cs-form input:checked ~ label {
  color: #071c35;
}

.cs-form input[type="radio"] {
  appearance: none;
  background: #ffffff;
  border: 1px solid #071c35;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cs-form input[type="radio"]::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #071c35;
}

.cs-form input[type="radio"]:checked:before {
  transform: scale(1) translate(-0.4px, -0.4px);
}

.cs-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
}

.cs-list li:nth-of-type(1) {
  font-family: var(--font-latoM);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #071c35;
}

.cs-list a {
  font-family: var(--font-latoM);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #777777;
  text-decoration: none;
  transition: all 0.5s;
}

.cs-list a.active,
.cs-list a:hover {
  color: #071c35;
}

.cs-blocks {
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.cs-block {
  padding: 25px 25px 50px;
  border: 1px solid rgba(7, 28, 53, 0.1);
}

.cs-card {
  position: relative;
  margin-bottom: 53px;
}

.cs-detail {
  position: absolute;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(7.1134px);
  padding: 28px 47px;
  bottom: 0;
}

.cs-detail h3 {
  font-family: var(--font-alethia);
  font-style: normal;
  font-weight: 400;
  font-size: 28.4536px;
  line-height: 38px;
  text-transform: uppercase;
  color: #071c35;
  margin-bottom: 9px;
}

.cs-detail p {
  font-family: var(--font-latoL);
  font-style: normal;
  font-weight: 300;
  font-size: 15.1753px;
  line-height: 23px;
  color: #071c35;
}

/* SWIPER START */
.swiper-main {
  width: 888px;
  height: 460px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-prev img {
  transform: rotate(180deg) translate(-5%);
}
.swiper-next img {
  transform: translate(-5%);
}

.swiper-number {
  position: static !important;
  width: fit-content !important;
  font-family: var(--font-latoL);
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #071c35;
}

.swiper-header {
  display: flex;
  max-width: 750px;
  margin: 0 auto 18px;
  justify-content: space-between;
}

.swiper-header h2 {
  font-family: var(--font-alethia);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #071c35;
}

.swiper-card {
  display: flex;
  justify-content: center;
}

.swiper-card > img {
  width: 440px;
  height: 400px;
}

.slide-content {
  padding: 30px;
  background: rgba(255, 255, 255, 0.85);
  width: 250px;
  height: 340px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.slide-content h3 {
  font-family: var(--font-alethia);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #071c35;
}

.slide-content span {
  font-family: var(--font-latoR);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #071c35;
}

.slide-content img {
  margin-right: 10px;
}

.slide-content p {
  font-family: var(--font-latoL);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
}

.slide-content h5 {
  font-family: var(--font-latoR);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  text-transform: uppercase;
  color: #071c35;
}

.slide-content button {
  width: 250px;
  height: 40px;
}
/* SWIPER END */

/* COMUNITY SECTION END */

/* OPTION SECTION START */
.option-section {
  padding-bottom: 150px;
}

.option-section .container {
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.payment,
.emaar-about {
  display: grid;
  grid-template-columns: repeat(6, 216px);
  grid-template-rows: repeat(3, 200px);
}

.payment-detail {
  grid-column: 4 / 7;
  grid-row: 2 / 4;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.07);
  padding: 50px;
}

.emaar-detail {
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.07);
  padding: 50px;
  grid-column: 1/ 4;
  grid-row: 2 / 4;
}

.payment-detail h2,
.emaar-detail h2 {
  font-family: var(--font-alethia);
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 120%;
  text-transform: uppercase;
  color: #071c35;
  display: flex;
  flex-direction: column;
}

.payment-detail h2::after,
.emaar-detail h2::after {
  content: "";
  background: #071c35;
  opacity: 0.1;
  width: 236px;
  height: 1px;
  margin: 10px 0 30px 0;
}

.payment-detail p,
.emaar-detail p {
  font-family: var(--font-latoL);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #071c35;
  margin-bottom: 26px;
}

.payment-detail button {
  font-family: var(--font-latoR);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #071c35;
  padding: 11px 30px;
  border: 1px solid rgba(7, 28, 53, 0.15);
  background-color: #ffffff;
  cursor: pointer;
}

.emaar-about img {
  grid-column: 3 / 7;
  width: 100%;
}
/* OPTION SECTION END */

/* FEEDBACK SECTION START */
.feedback-section {
  padding-bottom: 50px;
  position: relative;
}

.feedback-section img {
  position: absolute;
  bottom: -95%;
}

.feedback-section .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.feedback-content {
  grid-column: 2 / 3;
}

.feedback-content h2 {
  font-family: var(--font-alethia);
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 40px;
  text-transform: uppercase;
  color: #071c35;
  margin-bottom: 26px;
}

.feedback-detail {
  display: flex;
  gap: 35px;
  margin-bottom: 46px;
  align-items: center;
}

.feedback-detail h4 {
  font-family: var(--font-latoM);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #071c35;
  position: relative;
  z-index: 5;
  padding-left: 16px;
}

.feedback-detail h4::before {
  content: "";
  position: absolute;
  background: #85df99;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: -1;
  top: -12px;
  left: 0;
}

.feedback-detail p {
  font-family: var(--font-latoL);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
}

.feedback-form {
  display: flex;
  gap: 20px;
}

.feedback-form input {
  border: none;
  border-bottom: 1px solid rgba(7, 28, 53, 0.1);
  padding: 9px 10px 12px;
  outline: none;
  font-family: var(--font-latoL);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #071c35;
}

.feedback-form input[type="number"]::-webkit-inner-spin-button,
.feedback-form input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.feedback-form button {
  border: 1px solid rgba(7, 28, 53, 0.15);
  background-color: #ffffff;
  padding: 11px 44px;
  font-family: var(--font-latoR);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #071c35;
  cursor: pointer;
}
/* FEEDBACK SECTION END */

/* FOOTER START */

.footer {
  background-color: #071c35;
  padding: 80px 0;
}

.footer .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.footer-content {
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
}

.footer-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-list {
  display: flex;
  gap: 30px;
  list-style: none;
}

.footer-list a {
  font-family: var(--font-latoR);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.fb-social {
  display: flex;
}

.fb-social p {
  font-family: var(--font-latoR);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 50px;
  position: relative;
}

.fb-social p::after {
  content: "XXX-XXXX";
  position: absolute;
  left: 70px;
  top: 0;
  background-color: #071c35;
  display: block;
}

.fb-social p.active::after {
  display: none;
}

.fb-social p > button {
  color: #c3c3c3;
  background: none;
  border: none;
  font-family: var(--font-latoR);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  margin-left: 10px;
  cursor: pointer;
}

.fb-social a {
  font-family: var(--font-latoR);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #c3c3c3;
  display: flex;
  align-items: center;
}

.fb-social a:nth-of-type(1) {
  margin-right: 30px;
}

.fb-social a > img {
  margin-left: 10px;
}
/* FOOTER END */

/* CTA POPUP START */
.cta-popup {
  background: rgba(228, 228, 228, 0.85);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-popup.show {
  opacity: 1;
  visibility: visible;
}

.cta-popup .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-block {
  background-image: url(../img/popUp-bg.png);
  max-width: 1080px;
  width: 100%;
  height: 470px;
  display: flex;
}

.cta-contact {
  background: rgba(7, 28, 53, 0.9);
  backdrop-filter: blur(7.5px);
  max-width: 540px;
  width: 100%;
  height: 470px;
  padding: 40px 50px;
  display: grid;
  grid-template-columns: 100px repeat(5, 1fr);
}

.cta-contact > img {
  width: 391px;
  rotate: 90deg;
  align-self: center;
  translate: -40%;
  grid-row: 1 / 2;
  grid-column: 1 /2;
}

.cta-info {
  grid-column: 2/7;
  align-self: center;
}

.cta-info h4 {
  font-family: var(--font-latoR);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.cta-social {
  display: flex;
  gap: 30px;
}

.cta-social a {
  font-family: var(--font-latoR);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #c3c3c3;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.cta-social a > img {
  padding-left: 10px;
}

.cta-form {
  background: rgba(7, 28, 53, 0.75);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7.5px);
  max-width: 540px;
  width: 100%;
  height: 470px;
  padding: 65px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.cta-form h2 {
  font-family: var(--font-latoR);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.cta-form input {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 9px 15px 12px;
  outline: none;
  background: none;
  font-family: var(--font-latoL);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin-bottom: 30px;
  width: 350px;
}

.cta-form input::placeholder,
.cta-form input::-webkit-input-placeholder {
  color: #fff;
}

.cta-form input[type="number"]::-webkit-inner-spin-button,
.cta-form input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cta-form button {
  font-family: var(--font-latoR);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #071c35;
  padding: 12px 0;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cta__button {
  position: absolute;
  padding: 12px 32px;
  background: #ffffff;
  font-family: var(--font-latoR);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
  transform: rotate(-90deg);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  right: 11.8%;
}

.cta__button img {
  margin-left: 10px;
}
/* CTA POPUP END */

/* UNIQUE POPUP START */
.unique-popup {
  background: rgba(228, 228, 228, 0.85);
  backdrop-filter: blur(15px);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unique-popup.show {
  opacity: 1;
  visibility: visible;
}

.unique-popup .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.unique-layer {
  background-image: url(../img/popUp-bg.png);
}

.unique-block {
  display: flex;
  gap: 50px;
  max-width: 1080px;
  width: 100%;
  height: 470px;
  background-color: rgba(7, 28, 53, 0.75);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
  padding-left: 80px;
  padding-bottom: 88px;
}

.unique-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.unique-contact > img {
  margin-bottom: 58px;
}

.unique-contact h4 {
  font-family: var(--font-latoR);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 15px;
}

.unique-social {
  display: flex;
  gap: 30px;
}

.unique-social a {
  font-family: var(--font-latoR);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #c3c3c3;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.unique-social a > img {
  padding-left: 10px;
}

.unique-offer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 570px;
  background: #ffffff;
  transform: translateY(-9%);
  padding: 83px 50px;
}

.unique-offer h2 {
  font-family: var(--font-alethia);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #071c35;
}

.unique-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.unique-form input {
  border: none;
  border-bottom: 1px solid rgba(7, 28, 53, 0.1);
  padding: 9px 15px 12px;
  outline: none;
  background: none;
  font-family: var(--font-latoL);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #071c35;
  margin-bottom: 30px;
  width: 350px;
}

.unique-form input::placeholder,
.unique-form input::-webkit-input-placeholder {
  color: #071c35;
}

.unique-form input[type="number"]::-webkit-inner-spin-button,
.unique-form input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.unique-form button {
  background: #071c35;
  padding: 12px 0;
  font-family: var(--font-latoR);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.unique-list {
  display: flex;
  gap: 32px;
  list-style: none;
}

.unique-list a {
  font-family: var(--font-latoR);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #071c35;
  text-decoration: none;
}

.unique__button {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
  transform: rotate(-90deg) translateX(-25%);
  background-color: #fff;
  border: none;
  align-self: center;
  padding: 12px 32px;
  display: flex;
  gap: 10px;
  cursor: pointer;
}
/* UNIQUE POPUP END */

/* APARTMENT POPUP START */

.apartment-popup {
  background-color: #fff;
  /* display: none; */
}

/* .apartment-popup.show {
  display: block;
} */

.apartment-header {
  background-color: #fff;
  padding: 35px 0;
}

.apartment-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.apartment-header h2 {
  font-family: var(--font-alethia);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #071c35;
}

.apartment-header a {
  font-family: var(--font-latoR);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #071c35;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.apartment-hero {
  background-image: url(../img/creek-rise/creekRise-bg.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 150px;
}

.apartment-hero .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  column-gap: 64px;
}

.hero-block {
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.07);
  padding: 50px;
  width: 306px;
  height: 535px;
  grid-row: 2 / 6;
}

.hero-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  list-style: none;
  margin-bottom: 35px;
}

.hero-list li {
  font-family: var(--font-latoL);
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #777;
}

.hero-list span {
  font-family: var(--font-latoR);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #071c35;
  position: relative;
  display: flex;
  align-items: center;
}

.hero-list span::before {
  position: absolute;
  content: "";
  background: #071c35;
  opacity: 0.1;
  height: 1px;
  top: -50%;
  right: 0;
}

.hero-list li:nth-of-type(1) span::before {
  width: 145px;
}

.hero-list li:nth-of-type(2) span::before {
  width: 80px;
}

.hero-list li:nth-of-type(3) span::before {
  width: 17px;
}

.hero-list li:nth-of-type(4) span::before {
  width: 75px;
}

.hero-block button {
  background: #071c35;
  font-family: var(--font-latoR);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 206px;
  height: 40px;
  cursor: pointer;
}

.apartment-hero p {
  font-family: var(--font-latoL);
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  color: #777777;
  grid-column: 2 / 5;
  grid-row: 5/ 6;
}

/* APARTMENT LANDMARK START */
.apartment-landmark {
  padding: 100px 0 156px;
}
.landmark-line {
  background: #071c35;
  width: 1300px;
  height: 2px;
}

.landmark-places {
  display: flex;
  justify-content: space-around;
}

.landmark-place {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 38px;
}

.landmark-place::after {
  content: "";
  width: 2px;
  height: 30px;
  background: #071c35;
  position: absolute;
  bottom: 0;
}

.landmark-place::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #071c35;
  position: absolute;
  bottom: -10px;
}

.landmark-place h5,
.landmark-place--bottom h5 {
  margin-top: 17px;
  font-family: var(--font-latoL);
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #777777;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.landmark-place h5 > span,
.landmark-place--bottom h5 > span {
  font-family: var(--font-latoR);
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #071c35;
}

.landmark-places--bottom {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.landmark-place--bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 38px;
}

.landmark-place--bottom::after {
  content: "";
  width: 2px;
  height: 30px;
  background: #071c35;
  position: absolute;
  top: 0;
}

.landmark-place--bottom::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #071c35;
  position: absolute;
  top: -10px;
}

.landmark-places--bottom button {
  background: #071c35;
  font-family: var(--font-latoR);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
  width: 150px;
  height: 40px;
  margin-top: 75px;
  cursor: pointer;
}
/* APARTMENT LANDMARK END */

/* APARTMENT GALLERY START */
.apartment-gallery {
  padding-bottom: 148px;
}

.apartment-gallery .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 22px;
}

.apartment-gallery img:nth-of-type(1) {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}
.apartment-gallery img:nth-of-type(2) {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
}
.apartment-gallery img:nth-of-type(3) {
  grid-row: 2 / 3;
  grid-column: 4 / 5;
}
/* APARTMENT GALLERY END */

/* APARTMENT SWIPER START */

.apartment-plans {
  padding-bottom: 150px;
}

.swiper-floor {
  width: 1300px;
}

.swiper-plan {
  display: flex;
  gap: 65px;
  align-items: center;
  justify-content: center;
}

.plan-header {
  justify-content: space-between;
  max-width: 970px;
  width: 100%;
}

.plan-detail h3 {
  font-family: var(--font-alethia);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #071c35;
  margin-bottom: 5px;
}
.plan-detail p {
  font-family: var(--font-latoL);
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #777777;
  margin-bottom: 73px;
}

.plan-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-bottom: 30px;
}

.plan-list li {
  font-family: var(--font-latoR);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #071c35;
}

.plan-list span {
  font-family: var(--font-latoL);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #071c35;
}

.plan-list span::after {
  padding: 0 9px;
}

.plan-list li:nth-of-type(1) span::after {
  content: url("../img/svg-icons/Line1.svg");
}
.plan-list li:nth-of-type(2) span::after {
  content: url("../img/svg-icons/Line2.svg");
}
.plan-list li:nth-of-type(3) span::after {
  content: url("../img/svg-icons/Line3.svg");
}

.plan-detail h4 {
  font-family: var(--font-latoR);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #003d5f;
  margin-bottom: 110px;
}

.plan-detail button {
  font-family: var(--font-latoR);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  width: 363px;
  height: 47.36px;
  background: #071c35;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* APARTMENT SWIPER END */

/* APARTMENT PAYMENT START */
.apartment-payment {
  padding-bottom: 150px;
}

.apartment-payment .container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.apartment-payment h3 {
  font-family: var(--font-alethia);
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
  color: #071c35;
}

.ap-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.ap-detail h2 {
  font-family: var(--font-latoR);
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 100px;
  text-align: center;
  text-transform: uppercase;
  color: #071c35;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ap-detail h2 > span {
  font-family: var(--font-latoL);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #777777;
}
/* APARTMENT PAYMENT END */

/* APARTMENT UNIQUE START */
.apartment-unique {
  padding-bottom: 150px;
}

.au-content h2 {
  font-family: var(--font-alethia);
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
  color: #071c35;
  margin-bottom: 10px;
}

.au-content p {
  font-family: var(--font-latoL);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #777777;
  margin-bottom: 49px;
}

.au-form {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.au-form input {
  border: none;
  border-bottom: 1px solid rgba(7, 28, 53, 0.1);
  padding: 9px 10px 12px;
  outline: none;
  font-family: var(--font-latoL);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #071c35;
}

.au-form input[type="number"]::-webkit-inner-spin-button,
.au-form input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.au-form button {
  font-family: var(--font-latoR);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 12px 45px;
  background: #071c35;
  cursor: pointer;
}

.apartment-footer {
  background: #071c35;
  height: 30px;
}
/* APARTMENT UNIQUE END */

/* APARTMENT POPUP END */
